<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>后台管理</title>

    <!-- Bootstrap Styles-->
    <link href="../../static/css/xf_css/assets/css/bootstrap.css" rel="stylesheet" />

    <!-- FontAwesome Styles-->
    <link href="../../static/css/xf_css/assets/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom Styles-->
    <link href="../../static/css/xf_css/assets/css/custom-styles.css" rel="stylesheet" />

    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- TABLE STYLES-->
    <link href="../../static/css/xf_css/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

</head>
<body>
<div id="wrapper">
    <!--Top导航栏-->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                <i class="fa fa-comments"></i>
                <strong>点餐后台 </strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <img src="../../static/img/xf/img.png" width="20" height="20">
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--TOP导航栏 End  -->

    <!-- Nav 侧边栏 -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="http://localhost:8001/backstage/index">
                        <i class="glyphicon glyphicon-user"></i>
                        首页
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8001/backstage/elements">
                        <i class="fa fa-desktop"></i>
                        待定1
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8001/backstage/chart">
                        <i class="fa fa-bar-chart-o"></i>
                        待定2
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8001/backstage/panel"><i class="fa fa-qrcode"></i>
                        待定3
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8001/backstage/table"><i class="fa fa-table"></i>
                        待定4
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8001/backstage/form"><i class="fa fa-edit"></i>
                        待定5
                    </a>
                </li>

                <li>
                    <a class="active-menu" href="http://localhost:8001/backstage/empty"><i class="fa fa-fw fa-file"></i>
                        商品
                    </a>
                </li>
            </ul>

        </div>

    </nav>
    <!-- Nav 侧边栏 End-->

    <!-- 内容 -->
    <div id="page-wrapper" >

        <div id = "page-inner">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        个人中心
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Product Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">

                                <p>个人信息</p>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px" class="text-center">ID</th>
                                        <th style="width: 150px" class="text-center">商品名称</th>
                                        <th style="width: 50px" class="text-center">价格</th>
                                        <th style="width: 80px" class="text-center">点赞数</th>
                                        <th style="width: 100px" class="text-center">图片</th>
                                        <th style="width: 500px" class="text-center">描述</th>
                                        <td style="width: 150px" class="text-center">操作</td>


                                    </tr>
                                    </thead>


                                </table>


                                <p>订单信息</p>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px" class="text-center">ID</th>
                                        <th style="width: 150px" class="text-center">商品名称</th>
                                        <th style="width: 50px" class="text-center">价格</th>
                                        <th style="width: 80px" class="text-center">点赞数</th>
                                        <th style="width: 100px" class="text-center">图片</th>
                                        <th style="width: 500px" class="text-center">描述</th>
                                        <td style="width: 150px" class="text-center">操作</td>


                                    </tr>
                                    </thead>


                                </table>

                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
        <!-- /. PAGE INNER  -->


    </div>

</div>
<!-- /. WRAPPER  -->




<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../../static/css/xf_css/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../../static/css/xf_css/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="../../static/css/xf_css/assets/js/jquery.metisMenu.js"></script>

<!-- DATA TABLE SCRIPTS -->
<script src="../../static/css/xf_css/assets/js/dataTables/jquery.dataTables.js"></script>

<script src="../../static/css/xf_css/assets/js/dataTables/dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>

<!-- Custom Js -->
<script src="../../static/css/xf_css/assets/js/custom-scripts.js"></script>

</body>
</html>
