.titleone{
    padding-top: 80px;
    position: fixed;
    z-index:200;
}
.lititle{
    font-size: 40px;
}
.lititle1{

}
.dineall{
    display: none;
}
.lititle1:hover .dineall{
    display: block;
}
.contentdine{
    margin-left: 100px;
    margin-top: 100px;
    border-style: outset;
}
.spaceondine{
    margin-top: 10px;
}
.dinepic{
    width: 15%;
    height: auto;
    transition: all 0.2s linear;
}
.dinepic:hover{
    transform: scale(1.5);
    transition: all 0.2s linear;
}
.expressdinepic{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(52, 52, 52, 0.8);
    background-size: 50%;
}
.spanmenupic{
    position: absolute;
    top: 0;
    left: 0;
}