.expressdine{
    border-width: 2px;
    width: 80%;
    position: absolute;
}
.expressdine .dineimage{
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    border-color: white;
    width: 20%;
    height: 100%;
}
.expressdine .indexspan{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    width: 30%;
    height: 100%;
    min-height: 200px;
    /*font-size: 20px;*/
    /*padding-left: 50px;*/
}
.expressdine .indexspan1{
    display: flex;
    word-wrap:break-word;
    word-break:normal;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30%;
    height: 100%;
    min-height: 200px;
    float: left;
    /*font-size: 20px;*/
    /*padding-left: 50px;*/
}
.expressdine .dine-prece{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
    min-height: 200px;
    float: left;
}
.expressdine .dine-But{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
    min-height: 200px;
    float: left;
}
.topiconone{
    width: 20px;
    height: 20px;
}
.table-index{
    width: 100%;
    height: 100%;
    background-image: url("../../img/front-images/searchback.jpeg");
    overflow-y: auto;
    overflow: visible;
}

.table-index .thname {
    border-width: 2px;
    padding: 8px;
    text-align: center;
    border-style: solid;
    font-size: 20px;
    border-color: black;
    width: 10%;
}
.table-index .thmiaoshu{
    border-width: 2px;
    padding: 8px;
    text-align: center;
    border-style: solid;
    font-size: 20px;
    border-color: black;
    width: 30%;
}
.table-index .thpicture{
    border-width: 2px;
    padding: 8px;
    text-align: center;
    border-style: solid;
    font-size: 20px;
    border-color: black;
    width: 40%;
}
.table-index td {
    border-width: 1px;
    padding: 8px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.overflowdine{
    overflow-y: auto;
    max-height: 300px;
}
.contactsearch{
    padding-top: 10px;
    max-height: 400px;
}