<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link href="../../static/css/cus_css/cuslogin.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/front-js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../../static/js/front-js/cuslogin.js"></script>
    <script language="javascript">
        setInterval("RandomImage();",2000);
        function RandomImage()
        {
            var num = Math.random()*2;
            num = Math.round(num);
            num = num + 1;
            document.image1.src="../../static/img/test" + num + ".jpg";
        }
    </script>
</head>
<body>
<div>
    <div class="cus_top">
        <!--        顶部-->
    </div>
    <div class="registcus">
        <!--        中间-->

    </div>
    <div class="cus_bol">
        <!--        尾部-->
    </div>
</div>
</body>
</html>
